<div class="fixed span12" when-scrolled="loadMore()">
	<div class="well">Search: <input ng-model="query"></input></div>
	<table class="table table-striped">
		<tbody>
			<tr ng-repeat="row in rows | filter:query">
				<td>{{row.name}}</td>
			</tr>
		</tbody>
	</table>
</div>