<div class="well">
	<p>This is the partial for view 2.</p>
	<p>
	  Showing of 'interpolate' filter:
	  {{ 'Current version is v%VERSION%.' | interpolate }}
	</p>
</div>

<div class="well">
	<alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
	<button class='btn' ng-click="addAlert()">Add Alert</button>
</div>
