<p>This is the partial for view 1.</p>

<div class="row">
	<div class="well span12">
		<h4>{{dynamicTooltip}}</h4>
		<input ng-model="dynamicTooltip"></input>
	</div>
</div>

<div class="row" ng-controller="ModalDemoCtrl">
	<div class="well span12">
		<h4>From server</h4>
	    <li ng-repeat="phone in phones">
	      {{phone.name}}
	    </li>
	</div>

	<div class="well span12">
	    <button class="btn" ng-click="open()">Open me!</button>

	    <div modal="shouldBeOpen" close="close()">
	        <div class="modal-header">
	            <h4>I'm a modal!</h4>
	        </div>
	        <div class="modal-body">
	            closed: {{closeMsg}}
	        </div>
	        <div class="modal-footer">
	            <button class="btn btn-info cancel" ng-click="close()">Cancel</button>
	        </div>
	    </div>
	</div>
</div>

<div class="row">
	<div class="well span12">
		<div>Dynamic Tooltip Text: <input ng-model="dynamicTooltip"></input></div>
		<p>
		  Pellentesque <a><span tooltip="{{dynamicTooltip}}">dynamic</span></a>,
		  sit amet venenatis urna cursus eget nunc scelerisque viverra mauris, in
		  aliquam. Tincidunt lobortis feugiat vivamus at 
		  <a><span tooltip-placement="left" tooltip="On the Left!">left</span></a> eget
		  arcu dictum varius duis at consectetur lorem. Vitae elementum curabitur
		  <a><span tooltip-placement="right" tooltip="On the Right!">right</span></a> 
		  nunc sed velit dignissim sodales ut eu sem integer vitae. Turpis egestas 
		  <a><span tooltip-placement="bottom" tooltip="On the Bottom!">bottom</span></a> 
		  pharetra convallis posuere morbi leo urna, 
		  <a><span tooltip-animation="true" tooltip="I fade in and out!">fading</span></a> 
		  at elementum eu, facilisis sed odio morbi quis commodo odio. In cursus 
		  turpis massa tincidunt dui ut.
		</p>
	</div>
</div>